body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(roblox.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.overlay-text {
    margin: 0 4em 0 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 10em;
    width: 30em;
} 