* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
     scroll-padding-top: 0; 
}
.HOME{
    position: relative;
    height: 101vh;
}
/* NAVIGATION */
nav{
    display: flex;
    height: 100px;
    background-color: rgba(198, 30, 30, 1);
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1em;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 22px;
    font-size: 1.070rem;
    margin-right: 3em;
    color: white;
}
nav img{
    height: 60px;
    margin-left: 1.5em;
}
ul a{
    color: white;
    text-decoration: none;
    transition: all 200ms;
}   

a:hover{
    color: black;
}

main{
    position: relative;
}
.sign{
    color: rgba(198, 30, 30, 0.904);
    font-weight: 750;
    font-size: 6.5rem;


}
.hero{
    position: absolute;
    top: 40px;
    left: 13%;
    max-width: 300px;
    max-height: 400px;
    /* border: 1px solid black; */
    font-size: 2.5rem;
}
.hero h1 {
    font-weight: light;
    font-size: 4.5rem;
}

.contact-us-container{
    position: absolute;
    left: 64%;
    top: 190px;
    max-width: 300px;
    max-height: 200px;
    height: 100px;

}
.contact-us-container h3{
    font-size: 1.7rem;
}
.contact-us{
    position: absolute;
    color: white;
    font-weight: bold;
    text-decoration: none;
    left: 25%;
    padding: .3em .5em .3em .5em;
    margin-top: 1em;
    font-size: 1.3rem;
    background-color: rgba(198, 30, 30, 1);
    border: 2px solid rgb(137, 5, 5);
    border-radius: 5px;
    transition: all 150ms;
}

.contact-us:hover{
    background-color: white;
    color: rgba(198, 30, 30, 1);
}

/* ABOUT US */

.ABOUT-US{
    /* background-color: #3b3b3f; */
    position: relative;
    height: 98vh;
    padding: 0 1em 0 1em;
}

.about-us-text{
    position: absolute;
    color: rgba(198, 30, 30, 0.904);
    top: 30px;
    left: 6%;
    font-size: 3rem;
}

.wwr{
    max-width: 550px;
    position: absolute;
    color: black;
    top: 155px;
    left: 5%;
}

.wwr ul {
    font-size: .9rem;
}

.wwr h1 {
    color: rgba(198, 30, 30, 1);
    margin-left: 180px;
    margin-bottom: 35.5px;
    font-size: 1.7rem;
}

.wwr p {
    margin-top: 7px;
    font-size: 1rem;
}

.wwr ul > li {
    margin-top: 3px;
    margin-left: 20px;
}

.wwr ul :first-child {
    margin-top: 15px;
}

.last-p{
    margin-top: 10px;
}
.mission{
    position: absolute;
    top: 152px;
    left: 50%;
    max-width: 600px;
}
.mission h1 {
     margin-left: 180px;
    font-size: 1.7rem;
    margin-bottom: 35px;
    color: rgba(198, 30, 30, 1);
}
.mission p {
    line-height: 25.7px;
}
/* SERVICES */ 

.SERVICES{
    display: flex;
    position: relative;
    height: 80vh;
    /* width: 100wv; */
}

.Tservice {
    display: flex;
    left: 38.5%;
    top: 1.5rem;
    position: absolute;
    color: rgba(198, 30, 30, 0.904);
   
    font-size: 3rem;   
}

.main_service{
    width: 100%;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}
.signs img{
    aspect-ratio: auto 34/34;
    border-image-repeat: stretch;
    border: 4px solid black;
    border-radius: 50px;
    width: 60px;
    margin-left: 41px; 
}
#signs2 img {
    margin-left: 50px;
}
#signs3 img{
     margin-left: 41px; 
}
#signs4 img{
    margin-left: 56px;
}
.signs span{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5em;
    display: block;
}
/* WORK */

.WORK{
    position: relative;
    height: 150vh;
   
}    
.title_work{
    position: absolute;
    color: rgba(198, 30, 30, 1);
    top: 30px;
    left: 6%;
    font-size: 1.5rem;
}

.titledesc_box{
    position: absolute;
    top: 100px;
    left: 80px;
    max-width: 80%;
    line-height: 22px;
}

.grid-container {
    position: absolute;
    top: 230px;
    left: 80px;
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* spacing */
}
.item{
    transition: 0.4s ease;  
    position: relative;
}

.item span{
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-self: center;
    margin-top: 125px;
    opacity: 0;
    z-index: 2;
    position: absolute;   
    transform: scale(0.8);        
    transition: 0.4s ease;
}
.item img {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: 0.4s ease;  
}

.item:hover img {
    filter: blur(2px);             
    transform: scale(1.1);         
}

.item:hover span {
    opacity: 1;                   
    transform: scale(1);           
}

/* GET IN TOUCH */

.GETINTOUCH{
    height: 120vh;
    position: relative;
}
.contact_US{
    position: absolute;
    left: 100px;
    top: 80px;
}

.submit_button{
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    border: 1px solid black;
     background-color: rgb(63, 62, 62);
     color: white;
     margin-left: 50%;
     margin-top: 15px;
     letter-spacing: 1.2px;
    transition: all 200ms;
    cursor: pointer;
}

.submit_button:hover{
     background-color: rgb(94, 92, 92);
}

.hero-GIT{
    margin-bottom: 40px;
    color: rgba(198, 30, 30, 1);    
    font-size: 3rem;
    font-weight: bold;
}

.input-p {
    font-size: .9rem;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 10px;
}
input{
    padding-right: 300px;
    height: 27px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
.enter-message{
    padding-bottom: 200px;
    line-height: normal;
}

input::placeholder{
   color: rgba(198, 30, 30, 1);  
   font-style: italic;
}

.enter-message::placeholder{
    position: absolute;
    top: 7px;
}
input:focus::placeholder{
    color: transparent;
}
input:focus{
     border-color: rgba(198, 30, 30, 1); 
     outline: none;  
    
}
.details {
    position: absolute;
    left: 690px;
    top: 220px;
}
.details img{
     height: 50px;
    display: block;
    margin-bottom: 20px;
}

.details h3{
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.details a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.details p {
    font-weight: 600;
    
}

/* FOOTER */
footer{
    background-color: rgb(43, 42, 42);
    color: rgb(227, 225, 225);
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Fcontainer, .socmed{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    height: 200px;
}
footer p {
    font-size: 1rem;
}
.socmed div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    gap: 11px;
}
.socmed img{
    border-radius: 10px;
    height: 40px;
}
.line{
    position: absolute;
    top: 40px;
    left: 105px;
    background-color: rgba(198, 30, 30, 1);
    width: 157px;
    height: 10px;
}

#line1{
    top: -30px;
    left: 4px;
}

#line2{
    width: 160px;
    left: 43%;
    top: 0rem;
}
#line3{
    top: 7px;
    left: 75px;

}


@media (max-width: 414px) and (max-height: 896px) {
    .HOME{
    height: 110vh;  
    }
    nav{
        width: 110%;
        height: 150px;
    }
    nav ul{
        opacity: 0;
    }
    nav img{
        height: 70px;
        margin-left: 10px;
    }
    .hero{
        top: 80px;
        left: 16%;
    }
    .sign{
        font-size: 130px;
    }
    .hero h1{
        font-size: 100px;
    }
   .contact-us-container {
    left: 4%;
    top: 600px;
    }
    .contact-us{
        padding: 1em 1.3em;
        width: 150px;
        font-size: 1.8rem;
        left: 38%;
    }
    .contact-us-container h3 {
        opacity: 0;
    }

    /* ABOUT US */
    .ABOUT-US{
        height: 105vh;
    }
    .about-us-text{
        font-size: 4rem;
        margin-left: 0px;
    }
    .wwr{
        top: 130px;
        width: 400px;
        height: 100px;
        max-width: 350px;
        left: 50px;

    }
    .wwr h1{
        font-size: 2.3rem;
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .wwr p{
        margin-top: 10;
        font-size: 1rem;
        margin-left: 10px;
    }
    .wwr ul {
        font-size: 1rem;
    }
    /* /////// */
    .mission{
        top: 540px;
        height: 100px;
        max-width: 400px;
        left: 50px;

    }
    .mission h1{
        font-size: 2.3rem;
        margin-left: 50px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .mission p{
        line-height: 20px;
        margin-top: 10;
        font-size: 1rem;
        margin-left: 10px;
    }
    /* SERVICES */

    .SERVICES{
        height: 70vh;
    }
    .Tservice{
        font-size: 4rem;
        width: 100%;
        left: 50px;
    }

    .main_service{
        flex-wrap: wrap;
         width: 90%;
         margin-left: 40px;
    }
    .signs{
        margin-top: 0px;
    }
    .signs img{
        width: 80px;
        aspect-ratio: auto 17/17;
        margin-left: 20px; 
    }   
    #signs2 img {
    margin-left: 29px;
    }

    #signs3 img{
        
        margin-left: 30px; 
    }
    #signs4 img{
        margin-left: 35px;
    }   

    .signs span{
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: .9em;
    display: block;
    }   

    #signs3, #signs4{
        margin-top: -170px;
        margin-left: 10px;
    }
    /* OUR WORK */

    .WORK{
        height: 100vh;
    }

    .title_work{
        font-size: 2rem;
        left: 75px;
    }

    .titledesc_box{
        top: 110px;
        left: 50px;
        max-width: 100%;
    }

    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        width: 440px;
        top: 360px;
        left: 5px;
    }   
    .item span{
        opacity: 0;
    }
    .item:hover span{
        opacity: 0;
    }
    .item:hover img {
        filter: blur(0px);             
        transform: scale(1);         
    }

    /* GET IN TOUCH */

    .GETINTOUCH{
        height: 105vh;
    }
    .contact_US{
        position: absolute;
        left: 30px;
        top: 50px;
        }

    .hero-GIT{
         font-size: 3rem;
         margin-left: 30px;
    }

    .submit_button{
        margin-left: 71%;
    }
    .line{
        opacity: 0;
    }
    .input-p{
        margin: 6px 0;
    }
  
    input{
        padding-right: 150px;
    }
    .enter-message{
        padding-right: 200px;
    }

    .details{
        top: 700px;
        left: 80px;
    }
    .details img{
        height: 50px;
        margin-left: 0px;
    }
    .details h3{
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 1rem;
        margin-left: 10px;
    }
    .details a{
       margin-left: 45px;
    }
    .details p{
        margin-top: 8px;
        margin-left: 100px;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 110%;
    }

    .Fcontainer, .socmed{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    height: 100px;
    font-size: .9rem;
}



}
}


