* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.HOME{
    position: relative;
    height: 97vh;
}
/* NAVIGATION */
nav{
    display: flex;
    height: 100px;
    background-color: rgba(198, 30, 30, 0.904);
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1em;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 22px;
    font-size: 1.070rem;
    margin-right: 3em;
    color: white;
}
nav img{
    height: 60px;
    margin-left: 1.5em;
}
ul a{
    color: white;
    text-decoration: none;
    transition: all 200ms;
}   

a:hover{
    color: black;
}
/* MAIN */

main{
    position: relative;
}
.sign{
    color: rgba(198, 30, 30, 0.904);
}
.hero{
    position: absolute;
    top: 45px;
    left: 12%;
    max-width: 300px;
    max-height: 400px;
    overflow: hidden;
    /* border: 1px solid black; */
    font-size: 2.5rem;
}

.ABOUT-US{
    display: flex;
    
    position: relative;
    height: 98vh;
    padding: 0 1em 0 1em;
}
.wwr{
    position: absolute;
    top: 70px;
    left: 10%;
    border: 1px solid black;
}