* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
     scroll-padding-top: 0; 
}
.HOME{
    position: relative;
    height: 101vh;
}
/* NAVIGATION */
nav{
    display: flex;
    height: 100px;
    background-color: rgba(198, 30, 30, 1);
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1em;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 22px;
    font-size: 1.070rem;
    margin-right: 3em;
    color: white;
}
nav img{
    height: 60px;
    margin-left: 1.5em;
}
ul a{
    color: white;
    text-decoration: none;
    transition: all 200ms;
}   

a:hover{
    color: black;
}

main{
    position: relative;
}
.sign{
    color: rgba(198, 30, 30, 0.904);
    font-weight: 750;
    font-size: 6.5rem;


}
.hero{
    position: absolute;
    top: 40px;
    left: 12%;
    max-width: 300px;
    max-height: 400px;
    /* border: 1px solid black; */
    font-size: 2.5rem;
}
.hero h1 {
    font-weight: light;
    font-size: 4.5rem;
}

.contact-us-container{
    position: absolute;
    left: 64%;
    top: 190px;
    max-width: 300px;
    max-height: 200px;
    height: 100px;

}
.contact-us-container h3{
    font-size: 1.7rem;
}
.contact-us{
    position: absolute;
    color: white;
    font-weight: bold;
    text-decoration: none;
    left: 25%;
    padding: .3em .5em .3em .5em;
    margin-top: 1em;
    font-size: 1.3rem;
    background-color: rgba(198, 30, 30, 0.904);
    border: 1px solid rgb(137, 5, 5);
    border-radius: 5px;
}

/* ABOUT US */

.ABOUT-US{
    /* background-color: #3b3b3f; */
    position: relative;
    height: 98vh;
    padding: 0 1em 0 1em;
}

.about-us-text{
    position: absolute;
    color: rgba(198, 30, 30, 0.904);
    top: 30px;
    left: 6%;
    font-size: 2.3rem;
}

.wwr{
    max-width: 550px;
    position: absolute;
    color: black;
    font-weight: bold;
    top: 150px;
    left: 5%;
}

.wwr ul {
    font-size: .9rem;
}

.wwr h1 {
    color: rgba(198, 30, 30, 1);
    margin-left: 180px;
    margin-bottom: 35.5px;
    font-size: 1.6rem;
}

.wwr p {
    margin-top: 7px;
    font-size: 1rem;
}

.wwr ul > li {
    margin-top: 3px;
    margin-left: 20px;
}

.wwr ul :first-child {
    margin-top: 15px;
}

.last-p{
    margin-top: 10px;
}
.mission{
    position: absolute;
    font-weight: bold;
    top: 147px;
    left: 50%;
    max-width: 600px;
}
.mission h1 {
     margin-left: 180px;
    font-size: 1.6rem;
    margin-bottom: 35px;
    color: rgba(198, 30, 30, 1);
}
.mission p {
    line-height: 25.7px;
}
/* SERVICES */ 

.SERVICES{
    height: 98vh;
    background-color: aqua;
}