* {
    padding: 0;
    margin: 0;
}

.HOME{
    display: relative;
}
nav{
    display: flex;
    height: 100px;
    background-color: ;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 18px;
    font-size: 1.070rem;
    margin-right: 4em;
}
nav img{
    height: 60px;
    margin-left: 1rem;
}
a{
    text-decoration: none;
    transition: all 1000ms;
}

a:hover{

}